#плов {
	color:red;
	font-size:130%;
}
.lol {
	background:url(plants.png);
	color:white; 
	font-size: 24px;
	padding:20px;
}

#menu{
	font-size:30px;
	font-family:"Monotype Corsiva";
	font-style:italic;
	padding:10px;
	border:2px solid black;
	background:#009ecc;
	border-radius:15px;
	box-shadow:0 0 4px #666;
	text-decoration:none;
	vertical-align:-20pt;
}
.label{background: #aff;
	}