a{
	text-decoration: none;
	color: white;
	font-size: 20px;
}
ul{
	list-style: none;
	display: inline;
}
li{
	background:linear-gradient(to left,#3a5a10 10%,#bdef2f 90%);
	width:85px;
	height: ;
	border: white solid 2px;
	margin-bottom: 2px;
	border-radius: 5px;
	text-align: center;
}
li:hover{
	background:linear-gradient(90deg,#00be78 10%,#00491a 80%);
	
}
li>ul{
	position: absolute;
	margin-left: -30px;
	visibility: hidden;
}
.menu{	position:absolute;
		}
li:hover ul{visibility: visible}
