canvas{
	display: inline;
	//position: absolute;
}
a{
	text-decoration: none;
	color: rgb(27, 27, 204);
	font-size: 24px;
}

table{
	border-collapse:collapse;
	background: url("ll.jpg");
	margin-left: auto;
	margin-right: auto;
}
td{
	border:5px solid rgb(124, 102, 6);
	font-family:"Monotype Corsiva";
	font-size:24px;
	font-weight: bold;
	text-align:center;
}
body{
	background: url("1.jpg");
}
h1{
	padding-top:30px;
}


////////////////////////////////////////////

ul{
	list-style: none;
	display: inline;
}
li{
	background:linear-gradient(to left,#eee4ae 10%,#bdef2f 90%);
	width:285px;
	height: ;
	border: white solid 2px;
	margin-bottom: 2px;
	border-radius: 15px;
	text-align: center;
}
li:hover{
	background:linear-gradient(90deg,#00be78 10%,#eee4ae 80%);
	
}
li>ul{
	position: absolute;
	//margin-left: -30px;
	visibility: hidden;
}
.refers{	position:absolute;
}
li:hover ul{visibility: visible}

