
table{
	border-collapse:collapse;
	background: url("ll.jpg");
	margin-left: auto;
	margin-right: auto;
}
td{
	border:5px solid rgb(124, 102, 6);
	font-family:"Monotype Corsiva";
	font-size:24px;
	font-weight: bold;
	text-align:center;
	//background:rgb(202, 202, 248);
	//text-shadow:0 0 7px #fff;
}
body{
	background: url("1.jpg");
	//background: linear-gradient(#00f, white);
}
h1{
	padding-top:30px;
}