#demo{
	text-decoration: none;
	color: rgb(243, 243, 243);
	text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
	font-size: 24px;
	text-align: center;
}

canvas{
	display: inline;
	/* position: absolute; */
}
a{
	text-decoration: none;
	color: rgb(27, 27, 204);
	font-size: 24px;
}

table{
	width: 100%;
	border-collapse:collapse;
	background: url("ll.png");
	margin-left: auto;
	margin-right: auto;
}
td{
	border:5px solid rgb(124, 102, 6);
	font-family:"Monotype Corsiva";
	font-size:24px;
	text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
	
	font-weight: bold;
	text-align:center;
}
body{
	background: url("1.png");
	font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    background-color: #f5f5f5;
}
h1{
	padding-top:30px;
}


/* //////////////////////////////////////////// */

ul{
	list-style: none;
	display: inline;
}
li{
	background:linear-gradient(to left,#eee4ae 10%,#bdef2f 90%);
	width:285px;
	/* height: ; */
	border: white solid 2px;
	margin-bottom: 2px;
	border-radius: 15px;
	text-align: center;
}
li:hover{
	background:linear-gradient(90deg,#00be78 10%,#eee4ae 80%);
	
}
li>ul{
	position: absolute;
	/* margin-left: -30px; */
	visibility: hidden;
}
.refers{	position:absolute;
}
li:hover ul{visibility: visible}

.zoom-button {
	font-family:"Monotype Corsiva";
	width: 90%;
	padding: 10px;
	background: #8c9468;
	color: rgb(56, 54, 54);
	border: none;
	border-radius: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size:24px;
	font-weight: bold;
	margin: 4px 2px;
	cursor: pointer;
	text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}
.zoom-button:hover {
	background-color: #3c8dbc;
	}

#myCanvas {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	pointer-events: none;
}