table{
	border-collapse: collapse;
	font-family:Arial;
	border-color: ;
	border-width: 4px;
}
td{
	height: 10%;
	width: 14.28%;
}
.blue{
	background:cyan;
	vertical-align: top;
	text-align: center;
}
.yellow{
	font-weight:bold;
	font-size:20px;
	background:yellow;
	text-align: center;
}
.t512{
	background:rgb(255,0,254);
	vertical-align: top;
	text-align: right;
}
.t1318{
	background:rgb(255,204,0);
}
.t1922{
	background:black;
	color:white;
	vertical-align: bottom;
	text-align: center;
}
.t2324{
	background:rgb(204,153,254);
	vertical-align: top;
	text-align: right;
}
